# Python
backend/venv/
__pycache__/
*.pyc

# Node / NPM
node_modules/

# Next.js
frontend/.next/

# Environment files
.env
.env.local

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Django
backend/db.sqlite3